<div
	mat-dialog-title
	class="title"
>
	Drag & Drop or click to upload
</div>
<div class="sub-title">The largest single-file support to 5 MB</div>
<mat-dialog-content>
	@if (error()) {
		<div class="error-container">
			{{ error() }}
		</div>
	}
	<clrwdocw-uploader
		(filesDropped)="uploadFile($event)"
        [class.hide-hint]="uploadedImageUrl()"
		class="uploader"
	>
		<div class="container">
			@if (image()) {
				<img
					class="image"
					alt="image"
					[src]="uploadedImageUrl()"
				/>
			}
		</div>
	</clrwdocw-uploader>
</mat-dialog-content>
<mat-dialog-actions align="end">
	<button mat-button type="button" (click)="close()">Cancel</button>
	<button
        type="button"
        [disabled]="!image()"
		mat-flat-button
        (click)="saveFiles()"
		color="primary"
	>
		Save
	</button>
</mat-dialog-actions>
